{% extends 'base.html.twig' %}

{% block body %}
    <h1>The weather !</h1>

    <turbo-frame id="weather_widget">
        <a class="weatherwidget-io" href="https://forecast7.com/en/48d862d35/paris/" data-label_1="PARIS" data-label_2="WEATHER" data-theme="original" >PARIS WEATHER</a>
        <script>
            !function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://weatherwidget.io/js/widget.min.js';
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, 'script', 'weatherwidget-io-js');
        </script>
    </turbo-frame>
{% endblock %}

{% block weather_widget %}
    {# Overides with empty the base "weather_widget" block which contains the same code as this page #}
{% endblock %}
