{% extends 'base.html.twig' %}

{% block body %}
    <h1>The weather !</h1>

    <turbo-frame id="weather_widget">
        <a data-controller="weather-widget"
           class="weatherwidget-io"
           href="https://forecast7.com/en/48d862d35/paris/"
           data-label_1="PARIS"
           data-label_2="WEATHER"
           data-theme="original"
        >
            PARIS WEATHER
        </a>
    </turbo-frame>
{% endblock %}

{% block weather_widget %}
    {# Overides with empty the base "weather_widget" block which contains the same code as this page #}
{% endblock %}
